@page "/transactionHistory"
@using BlazorApp3.Domains
@inject IAccountService AccountService
<h3>TransactionHistory</h3>
<!--Checks if the amount of accounts meets the criteria-->
@if (_accounts.Count < 2)
{
	<p>No Accounts Exist.</p>
}
else
{
	<!--dropdown to select which account to access logged transaction history.-->
	<div class ="mb-2">
		<InputSelect TValue="Guid"
			class="form-select"
			Id="accountSelect"
			@bind-Value="selectAccountId">

			<!--displays account relevant information for every account.-->
			@foreach (var account in _accounts)
			{
				<option value="@account.id">@account.Name - Saldo: @account.Balance</option>
			}
		</InputSelect>
	</div>

	//Display filter for amount transfered between accounts.
	<div class ="mb-2">
		<label>Filter By Amount</label>
		<InputNumber @bind-Value="_inputAmountFilter" TValue="decimal?"/>
	</div>

	<!--Buttons with which to select how to sort/order the user history of transactions.-->
	<div class="mb-2">

		<!--sort by date-->
		<button class="btn btn-sm" @onclick="() => setSort(SortKey.Date)">•</button>
			Sort By Date @(currentKey == SortKey.Date ? (descending ? "↓" : "↑") : "")

		<!--sort by amount-->
		<button class="btn btn-sm" @onclick="() => setSort(SortKey.Amount)">•</button>
			Sort By Amount @(currentKey == SortKey.Amount ? (descending ? "↓" : "↑") : "")
	</div>

	<!--Checks if any transactions has occured at all.-->
	@if (!_selectAccount.Transaction.Any())
	{
		<p>No Transactions Between Accounts Has Occured.</p>
	}
	<!--lists out all transactions.-->
	else
	{
		<table class="table table-sm">
			<!--sets a table for what information to display.-->
			<thread>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Transaction Type</th>
					<th>Balance After</th>
					<th>From -> To</th>
				</tr>
			</thread>

			<!--Checks and displays all transactions associated with the user's account-->
			<tbody>
				@foreach (var transaction in sortedTransactions())
				{
					<tr>
						<td>@transaction.Time.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
						<td>@transaction.Amount</td>
						<td>@transaction.TransactionType</td>
						<td>@transaction.BalanceAfter</td>
						<td>
							@if (transaction.Sender.HasValue || transaction.Receiver.HasValue)
							{
								<!--Displays last numbers of Guid for improved readability-->
								<span>@(transaction.Sender.ToString()?[..6]) - @(transaction.Receiver.ToString()?[..6])</span>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
@code {
	private List<BankAccount> _accounts = new();
	private BankAccount? _selectAccount;
	private Guid _selectAccountId;

	//Variable to store filter input.
	private decimal? _inputAmountFilter;

	//sets up the options for sorting (time or quantity).
	private enum SortKey
	{
		Date,
		Amount
	}

	//ensures default sorting is by date.
	private SortKey currentKey = SortKey.Date;
	private bool descending = true;

	/// <summary>
	/// bool method to determine current sorting.
	/// </summary>
	/// <param name="sortKey"></param>
	private void setSort(SortKey sortKey)
	{
		if (currentKey == sortKey)
		{
			descending = !descending;
		}
		else
		{
			currentKey = sortKey;
			descending = true;
		}
	}
	private Guid selectAccountId
	{
		get => _selectAccountId;
		set
		{
			if (_selectAccountId == value)
				return;
			_selectAccountId = value;
			_selectAccount = _accounts.FirstOrDefault(account => account.id == value);
		}
	}

	/// <summary>
	/// Retrieves accounts from AccountService and overwrites selectAccount & selectAccount.Id if any are found.
	/// </summary>
	protected override async Task OnInitializedAsync()
	{
		await AccountService.EnsureLoaded();
		_accounts = AccountService.GetAccount();
		if (_accounts.Count > 0)
		{
			_selectAccountId = _accounts[0].id;
			_selectAccount = _accounts[0];
		}
	}

	/// <summary>
	/// private method to list transaction history in a certain order using bool.
	/// </summary>
	/// <returns>Enumerable.Empty<Transaction>() or sortedList</returns>
	private IEnumerable<Transaction> sortedTransactions()
	{
		//Checks if there are accounts.
		if (_selectAccount == null)
			return Enumerable.Empty<Transaction>();
		var sortedList = _selectAccount.Transaction.AsEnumerable();
		sortedList = currentKey switch
		{

			//sort by amount, the wealth given or received.
			SortKey.Amount => (descending
				? sortedList.OrderByDescending(t => t.Amount)
				: sortedList.OrderBy(t => t.Amount)),

			//sort by date, the time it occured.
			SortKey.Date => (descending
				? sortedList.OrderByDescending(t => t.Time)
				: sortedList.OrderBy(t => t.Time))
		};

		//If-sats which prevents transaction history from displaying items with a transfered amount above or below a user determined threshold, if given input.
		if(_inputAmountFilter is > 0m)
		{
			var threshold = _inputAmountFilter!.Value;
			sortedList = sortedList.Where(t => (t?.Amount ?? 0m) >= threshold);
		}
		return sortedList.ToList();
	}
}